/* debug */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* header */
header {
  background-color: rgb(248, 248, 248);

  h1{
    font-size: 60px;
  }
}

/* main */
main {
  width: 80%;
  margin: 0 auto;
}

/* btn */
.btn {
  padding: 10px;
  background-color: rgb(79, 97, 255);
  color: white;
  border: none;
  border-radius: 7px;
}