/* debug */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* header */
header {
  background-color: rgb(248, 248, 248);
  padding: 20px;

  h1{
    font-size: 60px;
  }
}

/* main */
main {
  width: 80%;
  margin: 0 auto;
  padding-top: 50px;
}

/* btn */
.btn {
  padding: 10px 20px;
  background-color: rgb(79, 97, 255);
  color: white;
  border: none;
  border-radius: 7px;
  font-size: 20px;
  margin: 20px;
}

/* container */
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  display: flex;
  flex-direction: column;
  max-width: 180px;
}